registry=https://registry.npmjs.org/
auto-install-peers=true
strict-peer-dependencies=false
enable-pre-post-scripts=true
node-linker=hoisted
shamefully-hoist=true
store-dir=./.pnpm-store
cache-dir=./.pnpm-cache
state-dir=./.pnpm-state
